
<div>
<img src="img/healthy.jpg" style="float:right; padding-top: 10px; padding-right:10px;" height="335px"/>
</div>
<div class="BodyText">

  <div class="panel panel-default">
    <div class="panel-body">
      <p style="font-weight:bold; font-size:16pt;">2 Crazy Easy Tips that will help you stay healthy.</p>
      <ol>
        <li>Eat whole wheat bread instead of white in your breakfast.</li>
        <li>Use avocado for salad dressing.</li>
      </ol>
      <span style="float:right;">its that simple...</span>
    </div>
  </div>


  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading myversion">Recipe for Turkey and quinoa meatloaf</div>
    <div class="panel-body">
      <p>Original recipe makes 5 servings</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">1/4 cup quinoa</li>
      <li class="list-group-item">1/2 cup water</li>
      <li class="list-group-item">1 teaspoon olive oil</li>
      <li class="list-group-item">1 small onion, chopped</li>
      <li class="list-group-item">1 large clove garlic, chopped</li>
      <li class="list-group-item">1 (20 ounce) package ground turkey</li>
      <li class="list-group-item">1 tablespoon tomato paste</li>
      <li class="list-group-item">1 tablespoon hot pepper sauce</li>
      <li class="list-group-item">2 tablespoons Worcestershire sauce</li>
      <li class="list-group-item">1 egg</li>
      <li class="list-group-item">1 1/2 teaspoons salt</li>
      <li class="list-group-item">1 teaspoon ground black pepper</li>
      <li class="list-group-item">2 tablespoons brown sugar</li>
      <li class="list-group-item">2 teaspoons Worcestershire sauce</li>
      <li class="list-group-item">1 teaspoon water</li>

    </ul>
  </div>

</div>
