<div class="BodyText">
  <h2>Contact</h2>

  <br/>
  Take your first step towards a better health.
  <br/>
  <br/>
  <div class="panel panel-default" style="margin-top:5px;">
    <div class="panel-heading">Hi, I am Daniyal Syed and I provide the following services at my clinic:</div>
    <div class="panel-body">
      <ul>
        <li>
          (a)  Nutritional counseling
        </li>
        <li>
          (b)  Menu Planning
        </li>
        <li>(c)  Cooking classes at our facility</li>
        <li>(d)  Recipe Modifications</li>
      </li>
    </ul>
  </div>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">Visit Daniyal's Clinic:</div>
    <div class="panel-body">
      <ul>
        <li>
          46-1904 48th Street NW, Edmonton AB Canada
        </li>
        <li>
          Telephone # (780) 983-6605
        </li>
      </ul>
    </div>
  </div>
</div>
