<div class="BodyText">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Stories That Inspire</h2>

      <i><p>&ldquo;My name is Rick Wheeler I was very upset about being diagnosed for
        having high cholesterol and being obese as well. I keep surfing net about
        different co morbidities that I might develop from this condition and I was
        horrified that I can develop stroke, hypertension and CVD but at the same time
        I was lucky as well to found nutrition corner website and I contacted Daniyal's clinic.
        Thanks to God he provided me with some great advice about my being sedentary and its harmful
        effects on my health and also helped me out in developing exercise habits
        along with a diet plan that I followed regularly.As a result of that I
        lost 20lbs and my overall cholesterol profile is also showing satisfactory
        results. I would highly recommend Daniyal's clinic if you also want to
        change your life like I did. &rdquo;</p>
      </i>
    </div>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-body">
            "Best professional experience at Daniyal's clinic"
          </div>
          <div class="panel-body">Scott Williams</div>
        </div></td>
        <td>
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-body">
              "Lost 10 lbs following diet plan by Daniyal."
            </div>
            <div class="panel-body">Andrea Bowing</div>
          </div>
        </td>
      </tr>
    </table>
    </div>
